.popoverCard {
  width: 15vw;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: var(--distance);
  background-color: var(--bg-light);
  border-radius: var(--border-radius);
  border: 1px var(--border) solid;
}

.popover-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.popover-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.popoverDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.popoverDescription {
  color: var(--front-300);
}
