NEXT_PUBLIC_BASE_URL=http://localhost:3000/

NEXT_PUBLIC_API_URL=https://api

NEXT_PUBLIC_SEARCH_API_URL=https://api

GITHUB_TOKEN=github_key

# Environment key for link, that will appear on "server error" page for reporting issues
NEXT_PUBLIC_REPORT_LINK=mailto:blablabla@mail.com