.filterBlock {
  max-width: 300px;
  width: 100%;
  gap: var(--gapVar);
  display: flex;
  flex-wrap: wrap;
}

.range {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  gap: 15px;
  width: 100%;
}

.range > input {
  width: fit-content;
  border-radius: var(--borderRad);
  padding: 5px;
  background: var(--backColor);
}
