.button {
  padding: var(--padding);
  background-color: var(--bg);
  border: var(--border-fill);
  border-radius: var(--border-radius-1_2);
  
  display: flex;
  align-items: center;

  line-height: normal;
  transition: var(--text-color-animation);
}

.button:not(:disabled):hover,
.button:not(:disabled):focus-visible {
  cursor: pointer;
  background-color: var(--highlight);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btnWithLabel {
  font-size: var(--textSize);
  display: flex;
  flex-direction: column;
}

.btnErrorline {
  display: flex;
  align-items: center;
}

/* Ghost button */

.ghost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
}

.ghost:not(:disabled):hover,
.ghost:not(:disabled):focus-visible{
  background-color: var(--bg-light);
  color: var(--button-primary-text-color);
}

/* Primary button */

.primary {
  background-color: var(--primary);
  color: var(--bg-light);
}

.primary:not(:disabled):hover,
.primary:not(:disabled):focus-visible{
  cursor: pointer;
  background-color: color-mix(in srgb, var(--primary) 75%, black 25%);
}

/* Secondary button */

.secondary {}

.secondary:not(:disabled):hover,
.secondary:not(:disabled):focus-visible{
  cursor: pointer;
  background-color: var(--highlight);
}
/* Outline button */

.outline {
  border: var(--border-fill);
}

.outline:not(:disabled):hover,
.outline:not(:disabled):focus-visible {
  background-color: var(--highlight);
}

/* Link button variant */

.link {
  background-color: transparent;
  width: fit-content;
  position: relative;
  color: var(--front-400);
  cursor: pointer;
}

.link:not(:disabled):hover,
.link:not(:disabled):focus-visible{
  color: var(--button-text-timed-color);
}

.link:not(:disabled)::after {
  content: ' ';
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition:
    0.3s ease 0s,
    left 0.3s ease 0s;
  transform-origin: bottom right;
  background-color: var(--button-text-color);
}

.link:not(:disabled):hover::after,
.link:not(:disabled):focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
