.collapsible_wrap {
  border-width: 1px;
  border-color: var(--bg);
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.collapsible_wrap:hover {
  border-color: var(--border-fill);
}
.collapsible_wrap:focus {
  border-color: var(--bg);
}

/* collapse block animation */

.collapsible_child {
  background-color: var(--bg);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  height: fit-content;
  overflow: hidden;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: var(--padding);

  transition:
    padding var(--animation-duration) ease,
    max-height var(--animation-duration) ease,
    opacity var(--animation-duration) ease,
    visibility 0s var(--animation-duration);
}

.collapsible_child[aria-expanded='true'] {
  visibility: visible;
  max-height: var(--collapsible-content-height);
  transition-delay: var(--animation-duration-2);
}

.collapsible_child[aria-expanded='false'] {
  padding: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}

/* Button animation */

.collapsible_wrap button {
  transition: all var(--animation-duration-2) ease-out;
  justify-content: space-between;
}

.collapsible_wrap[aria-expanded='true'] button {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  transition-delay: 0s;
}

.collapsible_wrap[aria-expanded='false'] button {
  border-radius: var(--border-radius);
  transition-delay: var(--animation-duration);
}

/* svg animation */

.collapsible_wrap[aria-expanded='true'] button svg {
  transform: rotate(0deg);
  transition: all 0.1s;
}

.collapsible_wrap[aria-expanded='false'] button svg {
  transform: rotate(180deg);
  transition: all 0.1s;
}
