.header_wrap {
  position: sticky;
  top: var(--distance);
  z-index: 99;
  transition: 0.5s;
  margin: 0rem calc(var(--section-padding-x) - 1vw);
}

.header_hidden {
  transform: translateY(-100%);
}

.header {
  display: flex;
  gap: var(--distance);
  align-items: center;
  padding: var(--padding);
  background-color: color-mix(in srgb, var(--bg) 95%, transparent 5%);
  border-radius: var(--border-radius);
  backdrop-filter: blur(5px);
}

.header_account_block {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--distance);
}

@media (max-width: 640px) {
  .header_account_block *:first-child {
    display: none;
  }
}
