.heroWrap {
  position: relative;
  width: 100%;
  max-height: 768px;
  height: 90svh;
  padding: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: var(--borderRad);
  overflow: clip;
}
.heroWrap:has(img:not(.heroTrailerSource)) {
  justify-content: space-around;
}

@media (min-width: 768px) and (max-width: 1024) {
  .heroWrap {
    height: 50svh;
  }
}
/* INFO  */
.heroInfo {
  z-index: 1;
  width: 50%;
}
.heroInfo > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
@media (max-width: 768px) {
  .heroInfo p {
    display: none;
  }
}
/* POSTER */
.heroPoster {
  border-radius: var(--borderRad);
  max-width: 35%;
  position: relative !important;
  width: fit-content !important;
  margin-bottom: 5px;
}
/* TRAILER BG */
.heroTrailerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: clip;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.heroTrailerContainer::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 100%);
}
.heroTrailer {
  position: absolute;
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroTrailerSource {
  position: absolute;
  right: 0;
  top: 0;
  width: 5%;
}