.search_bar label {
  display: none;
}

.search_bar svg {
  display: none;
}

.search_bar input {
  width: fit-content;
}

@media (max-width: 640px) {
  .search_bar svg {
    display: block;
  }

  .search_bar input {
    display: none;
  }
}
