.playerSection {
  display: flex;
  justify-content: center;
  gap: 15px;
  transition: all 0.1s ease-in;
}

.playerSectionColumn {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.playerSectionColumn:first-child {
  width: 30%;
}

.playerSectionColumn:last-child {
  width: 70%;
  aspect-ratio: 21 / 9;
}

@media (max-width: 430px) {
  .playerSection {
    flex-direction: column;
    align-items: center;
  }

  .playerSectionColumn {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .playerSectionColumn:first-child {
    width: 50%;
  }

  .playerSectionColumn:last-child {
    width: 100%;
    height: 375px;
  }
}
