.tooltip-wrapper {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  width: max-content;
  max-width: 376px;
}

.tooltip-wrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-15px);
}

.tooltip-right {
  top: 0;
  left: calc(100% + 15px);
}