:root {
  color-scheme: light dark;
  /* hsl (fallback color) */
  --bg-dark: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 10%);
  --bg-light: hsl(0 0% 15%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight: hsl(330 0% 39%);
  --border: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(36 58% 62%);
  --secondary: hsl(214 78% 73%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);

  --distance: 0.5rem;
  --border-radius: 12px;
}

@media (prefers-color-scheme: light) {
  :root {
    /* hsl (fallback color) */
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(300 50% 100%);
    --text: hsl(330 0% 4%);
    --text-muted: hsl(0 0% 28%);
    --highlight: hsl(300 50% 100%);
    --border: hsl(300 0% 50%);
    --border-muted: hsl(340 0% 62%);
    --primary: hsl(41 100% 16%);
    --secondary: hsl(214 60% 30%);
    --danger: hsl(9 21% 41%);
    --warning: hsl(52 23% 34%);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);
  }
}

body {
  background-color: var(--bg-dark);
  color: var(--text);
}

h1 {
  font-size: 2.25rem;
  scroll-margin-top: 5rem;
  font-weight: 800;
  letter-spacing: -0.01562em;
  color: var(--textCol);
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.875rem;
  scroll-margin-top: 5rem;
  font-weight: 600;
  letter-spacing: -0.01562em;
  color: var(--text-muted);
}

h3 {
  scroll-margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.01562em;
  color: var(--text-muted);
}

h4 {
  scroll-margin-top: 5rem;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.01562em;
  color: var(--text-muted);
  margin: 0;
}

p,
button,
a,
span {
  font-size: 1rem;
  line-height: 1.75rem;
  text-decoration: none;
  color: var(--text);
}

button,
input {
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  align-items: center;
  padding: 4px;
}

label {
  display: flex;
  flex-direction: row;
}
