:root {
  --padding: 0.5rem 0.75rem;
  --border-fill: 1px solid var(--border);
  --border-radius-1_2: calc(var(--border-radius) / 2);

  --button-text-color: var(--text);
  --button-text-timed-color: var(--text-muted);
  --button-primary-text-color: var(--bg-light);
  --button-primary-text-timed-color: var(--bg);

  --animation-duration: 0.25s;
  --animation-duration-2: 0.15s;

  --text-color-animation: color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;

  --animation-delay-in: cubic-bezier(1, 0, 1, 0);
  --animation-delay-out: cubic-bezier(0, 1, 0, 1);

  --shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  --section-padding-x: 6rem;
  --section-padding-y: 3rem;
}

@media (max-width: 1024) {
  :root {
    --section-padding-x: 1rem;
  }
}

button,
input {
  padding: var(--padding);
  background-color: var(--bg);
  color: var(--text-muted);
  border: none;
  border-radius: var(--border-radius-1_2);

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  line-height: normal;

  justify-content: center;
  align-items: center;
  outline-style: none;

  white-space: nowrap;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: var(--text-color-animation);
}

input {
  border: var(--border-fill);
}

input:has(img),
button:has(img) {
  padding: 0;
  overflow: hidden;
}

th a:not(:last-child)::before {
  content: ", ";
  position: absolute;
  right: -3px;
}

label {
  display: flex;
  flex-direction: row;
  transition: var(--text-color-animation);
}
