.slider-wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-content {
  display: flex;
  gap: 16px;
  transition: transform 0.3s ease-in-out;
  overflow-x: scroll;
  overflow-y: hidden;

  .slider-item {
    flex: 0 0 calc((100% - 32px) / 3);
    box-sizing: border-box;
    min-width: 0;
    max-width: fit-content;
  }
}
