.frame {
  width: 100%;
  height: 100%;

  border: none;
  border-radius: var(--border-radius);
}

.frameWrapper {
  height: 100%;
  aspect-ratio: 16/9;
}

.frameWrapper select {
  position: absolute;
  margin: 10px;
  width: fit-content;
}