.anime_description_section img {
  aspect-ratio: 0.71 / 1;
  width: 100%;
  height: auto;
}
.anime_description_section h2 {
  margin: var(--distance) 0;
}

.anime_about {
  display: flex;
  flex-direction: column;
  gap: var(--distance);
  grid-column: 2 / 5;
}

.description_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* FIRST COLUMN */
.anime_details {
  display: flex;
  flex-direction: column;
  gap: var(--distance);
}

.anime_details table {
  background-color: var(--bg);
}

.anime_description_section section {
  padding: var(--distance);
  background-color: var(--bg);
  border-radius: var(--border-radius);
}
