.descSection div:last-child {
  min-width: 0;
}

.shortInfo {
  display: flex;
  gap: 5px;
}

@media (max-width: 1024px) {
  .descSection {
    display: flex;
    flex-direction: column;
  }
}

.anime_description_section {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    width: calc(100vw - var(--section-padding-x)*2);
    gap: 15px;
    padding: 0 var(
    --section-padding-x);
}