.block {
  border-width: 1px;
  border-color: var(--front-950);
  width: 100%;
  height: fit-content;
  border-radius: var(--borderRad);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @apply p-1;
}

.block:hover {
  background-color: var(--front-950);
}
.block:focus {
  border-color: var(--front-800);
}

.collapsible_child {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  height: fit-content;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.collapsible_child[aria-expanded="true"] {
  max-height: var(--collapsible-content-height, 9999px);
}
