.table {
  border: var(--border-fill);
  border-radius: var(--border-radius);
  width: 100%;
  overflow: hidden;
  font-weight: 100;
  font-synthesis: none;
}

.table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.table tr:hover {
  background-color: var(--bg);
}

.table tr th:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px;
  color: var(--highlight);
}
