.frame {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border: var(--border-fill);
  border-radius: var(--border-radius);
}

.frameWrapper {
  width: 100%;
  height: 100%;
}

.frameWrapper select {
  position: absolute;
  margin: 10px;
  width: fit-content;
}