.dropdownButton {
  display: inline-flex;
  background-color: var(--front-950);
  gap: 0.375rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRad);
  outline-style: none;
  height: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.dropdownButton:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--front-950);
}

.dropdownButton:not(:disabled):active {
  cursor: pointer;
  background-color: var(--front-800);
}

.dropdownButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdownButton:hover {
  cursor: pointer;
  background-color: var(--front-900);
}

.dropdownButton label {
  padding-left: 0.313rem;
}

/* animation */

.dropdownButton svg {
  transition: transform 0.3s;
}

.dropdownButton:hover svg {
  transform: rotate(180deg);
}
