.messagesContainer {
  height: 525px;
  overflow-y: auto;
}

.chat {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  width: 100%;
  justify-content: flex-end;
}

.messageInputContainer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

@media (max-width: 1280px) {
  .messageInputContainer {
    flex-direction: column;
  }
  .chat {
    max-width: 100%;
  }
}

.messageInput {
  width: 100%;
  background-color: var(--front-950);
}
