.cardcontainer {
  /* min-width: var(--cardMinWidth); */
  /* max-width: var(--cardMaxWidth); */
  aspect-ratio: 2 / 3;
  width: 100%;
  height: 100%;
  @apply flex flex-col relative gap-0 overflow-hidden p-1 rounded-xl border border-transparent01dp;
}

.cardText {
  @apply text-center w-full text-sm leading-6 font-light tracking-[0] text-textCol truncate px-4 py-1;
}

.cardImage {
  border-radius: calc(var(--borderRadius) - var(--cardPadding));
  @apply size-full aspect-[9/12] object-cover;
}

.cardcontainer:hover,
.cardcontainer:focus {
  box-shadow: var(--shadow03dp);
  background-color: var(--front-900);
  background: var(--shineGradient);
  color: transparent;
  background-size: 400%;
  animation: var(--shineAnimation);
}

.load,
.load * {
  background-color: var(--front-900);
  color: transparent;
  background: var(--shineGradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -100%;
  }
}

/* HORIZONTAL */

.cardHorizontal {
  transition: 0.7s;
  width: 100%;
  padding: 10px;
  border-radius: var(--borderRad);
  height: fit-content;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.cardHorizontal > div {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cardImageHorizontal {
  height: 75px;
  width: 54px;
  background-size: cover;
  border-radius: calc(var(--borderRad) - 10px);
}

.cardHorizontal:hover,
.cardHorizontal:focus {
  background-color: var(--front-800);
  box-shadow: var(--shadow03dp);
  transform: scale(1.02);
  z-index: 2;
}
