.cardcontainer {
  aspect-ratio: 2 / 3;
  height: var(--cardHeight);
  width: auto;

  border-width: 1px;
  border-color: var(--front-transparent-950);
  border-radius: 0.75rem;
  
  flex-direction: column;
  gap: 0;
  padding: var(--cardPadding);
  display: flex;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.cardData {
  display: flex;
  justify-content: space-evenly;
}

.cardText {
  text-overflow: ellipsis;
  text-align: left;
  letter-spacing: 0px;
  width: 100%;
  color: var(--textColor);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.cardImage {
  border-radius: calc(var(--borderRadius) - var(--cardPadding));
  @apply size-full aspect-[9/12] object-cover;
}

.cardcontainer:hover,
.cardcontainer:focus {
  box-shadow: var(--shadow03dp);
  background-color: var(--front-900);
  background: var(--shineGradient);
  color: transparent;
  background-size: 400%;
  animation: var(--shineAnimation);
}

.load,
.load * {
  background-color: var(--front-900);
  color: transparent;
  background: var(--shineGradient);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -100%;
  }
}

/* HORIZONTAL */

.cardHorizontal {
  transition: 0.7s;
  width: 100%;
  padding: 10px;
  border-radius: var(--borderRad);
  height: fit-content;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.cardHorizontal > div {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cardImageHorizontal {
  height: 75px;
  width: 54px;
  background-size: cover;
  border-radius: calc(var(--borderRad) - 10px);
}

.cardHorizontal:hover,
.cardHorizontal:focus {
  background-color: var(--front-800);
  box-shadow: var(--shadow03dp);
  transform: scale(1.02);
  z-index: 2;
}
