.card {
  aspect-ratio: 3 / 4;

  height: auto;
  max-width: 25vh;

  flex-direction: column;
  gap: 0;
  display: flex;
  position: relative;
  flex-shrink: 0;

  padding: .25rem;
  border-radius: var(--border-radius);
  transition: all .5s ease-in-out;
}

@media (max-width: 932) {
  .card {
    max-width: 100%;
    aspect-ratio: 0;
  }
}

.card:hover .card_title {
  color: var(--text);
}

.card_image {
  aspect-ratio: 3 / 4;
  height: auto;
  width: 100%;
  flex-shrink: 0;
  border-radius: calc(var(--border-radius) - .25rem);
  overflow: hidden;
}

.card_image img {
  transition: all .1s ease-in-out;
  height: 100%;
  width: 100%;
  scale: 1;
}

.card:hover img {
  scale: 1.1;
}

.card_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--distance);
  justify-content: space-between;
}

.card_title {
  display: flex;
  padding: 0;
  margin: 0;

  text-overflow: ellipsis;
  text-align: left;
  letter-spacing: 0px;
  
  white-space: nowrap;
  overflow: hidden;
  color: var(--text-muted);
}
