.card_container {
  --border-radius: 0.75rem;
  border-radius: var(--border-radius);
  scroll-snap-align: end;
  gap: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--cnt-base);
  text-decoration: none;
  position: relative;
}
.card_container .card_rating {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.25rem;
  background-color: color-mix(in oklab, var(--bg-l2) 85%, transparent);
  padding: 5px;
  border-radius: calc(var(--border-radius) - 0.25rem);
  transition: 0.1s;
}
.card_container .card_image {
  border-radius: 12px;
  aspect-ratio: 9/12;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.card_container .card_title {
  padding: 0.5rem 0 1rem 0;
  margin: 0;
}
