.descSection {
  display: grid;
  grid-template-columns: 3fr 7fr;
  flex-direction: row;
  gap: 15px;
}

.descSection div:last-child {
  min-width: 0;
}

.shortInfo {
  display: flex;
  gap: 5px;
}

@media (max-width: 1024px) {
  .descSection {
    display: flex;
    flex-direction: column;
  }
}