.rangeWrap {
  width: 90%;
  height: 50px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.track {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--bg-l1);
}

.thumb {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: var(--cnt-l0);
  border-radius: 50%;
  border-width: 1px;
  cursor: pointer;
  z-index: 2;
}

.filled {
  position: absolute;
  top: 50%;
  height: 6px;
  background-color: var(--text-muted);
  transform: translateY(-50%);
  border-radius: 3px;
  z-index: 1;
}
