.checkbox {
  padding: var(--padding);
  background-color: var(--bg);
  border: none;
  border-radius: var(--border-radius-1_2);
}

.checkbox:hover,
.checkbox:has(.checkinput:focus-visible) {
  background-color: var(--primary);
  cursor: pointer;
}

.checkinput {
  position: absolute;
  opacity: 0;
}

.checkbox:has(.checkinput:checked) {
  background-color: var(--primary);
}
