.checkbox {
  padding: 8px 16px;
  border-radius: var(--borderRad);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px var(--front-900) solid;
  width: fit-content;
}

.checkbox:hover,
.checkbox:has(.checkinput:focus-visible) {
  background-color: var(--front-700);
  cursor: pointer;
}

.checkinput {
  position: absolute;
  opacity: 0;
}

.checkbox:has(.checkinput:checked) {
  background-color: var(--front-700);
}
