.checkbox {
  padding: var(--padding);
  background-color: var(--bg-l1);
  border: none;
  border-radius: var(--border-radius-input);
}

.checkbox:hover,
.checkbox:has(.checkinput:focus-visible),
.checkbox:has(.checkinput:checked) {
  color: var(--button-primary-text-color);
  background-color: var(--cnt-l0);
  cursor: pointer;
}

.checkinput {
  position: absolute;
  opacity: 0;
}
